* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


header {
  background-color: white;
   width: 100%;
   height: 10vh;
   display: flex;
   border: solid black;
   position: fixed;
}
.navMenu {display: flex;
   width: 68% ;
justify-content: space-evenly;}


.h2Port {width: 30%;
   padding-top: 2%;
   padding-left: 2%;
   }

ul {width: 100%;
   display: flex;
   justify-content: end;
   list-style: none;
   }
li {width: 100%;
   padding-top: 3%;
   text-transform: uppercase;
}

main {width: 100%;
border: solid black;
display: flex;
flex-direction: column;}


.divImagine { 
   height: 80vh;
   background-image: url('./imagemportflow/laranjaazulrecorte.png');
background-repeat: no-repeat;}
  
.h2Main{color: white;
     font-size: 4rem;
           position: relative; bottom: -45%;left: 0%;}
.h3Main{color: white;
       font-size: 2rem; 
      position: relative; bottom: -50%;left: 0%;}


.divDasImagens {display: flex;
   flex-wrap: wrap;
   width: 100%;
    border: solid black ;}

.img {width: 23vw;
      height: 28vh;
 padding-left: 3rem;
padding-top: 3rem;}